@charset "UTF-8";

#all{
	position: relative;
    top: 100px;
}
.input:focus{
    
    font-size: 25px;
    transition: font-size 0.3s ease-in;
}

.input{
	width:70%;
	font-size: 20px;
	border-radius: 5px;	
}

.tdText{
	width:30%;
	padding: 5px;
	margin: 5px;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	height: 60px;
}



#form{
	
	padding: 5px;
	background-color: inherit;
	border: 2px solid #FFC686;
	
	
	width: 30%;
	
	margin:0 auto;
	text-align:center;
	color: white;
	border-radius: 5px;
}

#title{
	border-radius: 5px;
	color:white;
	background-color: #FFC686;
	
}

#btn{
	font-family: 'Nanum Pen Script', cursive;
	margin: 5px;
	font-size:25px;
	color: white;
	background-color: gray;
	border-radius: 5px;
	border: 0;
    outline: 0;
}

#bg{
	background-size:100% 1100px;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 40px;
    font-weight:bold;
    height:100%;
    background-repeat: no-repeat;
	background-image: url("https://pbs.twimg.com/media/Er1UN-3UwAAppUV?format=jpg&name=large");
	
}
